* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 15px;
    
}

.titulo {
    font-size: 24px; /* Tamanho da fonte aumentado para destaque */
    font-weight: bold;
    margin-left: 60px;
}
.Filtros {
    margin-right: 80px;
    gap: 50px;
}

ul {
    list-style: none;
}

body {
    font-family: 'Poppins', sans-serif;
    max-width: 1280px;
    margin: 0 auto;
    background-color: #f2cc85d2;
    color: #333333;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 25px;
}

main .cartao-pizza:hover {
    transform: scale(1.05);
    cursor: pointer;
}

main {
    padding: 25px;
}

.listagem-pizza {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.cartao-pizza {
    background-color: #d8e3ec;
    width: 200px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    border-radius: 15px;
    transition: 0.2s ease-in-out;
}

.cartao-pizza:hover {
    background-color: #de8e7c57;
}

img {
    width: 90px;
    height: 90px;
}

.cartao-pizza .informacoes {
    display: flex;
    justify-content: space-between;
    border: 1px solid #333333;
    border-radius: 10px;
}

.cartao-pizza .informacoes span {
    padding: 5px;
    text-transform: uppercase;
    font-size: 10px;
}

.cartao-pizza .tipos {
    display: flex;
    gap: 15px;
}

.cartao-pizza .tipo {
    padding: 10px;
}


/* Estilo para o tipo "Queijo" */
#pizza-0-tipo-0 {
    border-radius: 10px;
    background-color: #ecec1d;
}

/* Estilo para o tipo "Calabresa" */
#pizza-1-tipo-0 {
    border-radius: 10px;
    background-color: #ea240a9d;
}

/* Estilo para o tipo "Queijo e calabresa" */
#pizza-2-tipo-0 {
    border-radius: 10px;
    background-color: #ecec1d;
}

#pizza-2-tipo-1 {
    border-radius: 10px;
    background-color: #ea240a9d;
}

/* Estilo para o tipo "Vegetariana" */
#pizza-3-tipo-0 {
    border-radius: 10px;
    background-color: #149802ab;
}

/* Estilo para o tipo "Queijo" */
#pizza-4-tipo-0 {
    border-radius: 10px;
    background-color: #eb09dcd9;
}
#pizza-5-tipo-0 {
    border-radius: 10px;
    background-color: #149802ab;
}
#pizza-6-tipo-0 {
    border-radius: 10px;
    background-color: #eb09dcd9;
}
#pizza-6-tipo-1 {
    border-radius: 10px;
    background-color: #ecec1d;
}
#pizza-7-tipo-0 {
    border-radius: 10px;
    background-color: #eb09dcd9;
}
#pizza-8-tipo-0 {
    border-radius: 10px;
    background-color: #eb09dcd9;
}

#pizza-8-tipo-1 {
    border-radius: 10px;
    background-color: #ac031fd9;
}
#pizza-9-tipo-0 {
    border-radius: 10px;
    background-color: #ec7a01d9;
}

#pizza-10-tipo-0 {
    border-radius: 10px;
    background-color: #ecec1d;
}

#pizza-11-tipo-0 {
    border-radius: 10px;
    background-color: #312d2876;
}

#pizza-12-tipo-0 {
    border-radius: 10px;
    background-color: #312d2876;
}








input {
    width: 20%;
    text-align: center;
    justify-content: center;
    
}

#botao-adicionar{
    padding: 2px;
    background-color: #DE8E7C;
    border-radius: 10px;
}
#botao-adicionar:hover{
    padding: 3px;
    
}

/* Estilo para pizzas visíveis (correspondentes ao filtro) */
.pizza-visivel {
    display: block;
}

/* Estilo para pizzas ocultas (não correspondentes ao filtro) */
.pizza-oculta {
    display: none;
}

#carrinho {
    
    position: absolute;
    top: 15px;
    right: 30px;
    display: flex;
    flex-direction: column; /* Altere para 'column' para colocar em coluna */
    align-items: center; /* Alinhe os elementos à direita */
    gap: 10px;
    background-color: #3333333b;
    padding: 10px;
    border-radius: 5px;
    color: white;
}

#total {
    margin-right: 10px;
}



/* Ajuste o z-index se necessário para garantir que o carrinho esteja acima do conteúdo */
#header {
    position: relative;
    z-index: 2;
}
button{
    border-radius: 10px;
    padding: 2px;
    background-color: rgba(0, 0, 0, 0.018);
    width: 130px;
}
button:hover{
    padding: 3px;
}