*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    header{
        display: flex;
    }
    .titulo{
        font-size: px;
        text-align: center;
    }
    
    ul{
    
        list-style: none;
    }
body{

    font-family: 'Poppins', sans-serif;
    max-width: 1280px;
    margin: 0 auto;
    background-color: #f2cc85d2;
    color: #333333;
}
header{

    
    display: flex;
    justify-content: space-between;
    padding: 25px;
    
}


main .cartao-pizza:hover{

    transform: scale(1.05);
    cursor: pointer;
}

main{

    padding: 25px;
}

.listagem-pizza{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.cartao-pizza{

    background-color: #d8e3ec;
    width: 200px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    border-radius: 15px;
    transition: 0.2s ease-in-out;
}

.cartao-pizza:hover{

    background-color: #d4ef0a;
}

img{
    width: 90px;
    height: 90px;
}

.cartao-pizza .informacoes{

    display: flex;
    justify-content: space-between;
    border: 1px solid #333333;
    border-radius: 10px;
}

.cartao-pizza .informacoes span{
    padding: 5px;
    text-transform: uppercase;
    font-size: 10px;
}


.cartao-pizza .tipos{

    display: flex;
    gap: 15px;
}

.cartao-pizza  .tipo{

    padding: 10px;
}
/* Estilo para o tipo "Queijo" */

#pizza-0-tipo-0 {
    border-radius: 10px;
    background-color: #ecec1d;
}
/* Estilo para o tipo "Calabresa" */
#pizza-1-tipo-0 {
    border-radius: 10px;
    background-color: #ea240a9d;
}
/* Estilo para o tipo "Queijo e calabresa" */
#pizza-2-tipo-0 {
    border-radius: 10px;
    background-color: #ecec1d;
}
#pizza-2-tipo-1 {
    border-radius: 10px;
    background-color: #ea240a9d;
}
/* Estilo para o tipo "Vegetariana" */
#pizza-3-tipo-0 {
    border-radius: 10px;
    background-color: #149802ab;
}
/* Estilo para o tipo "Queijo" */
#pizza-4-tipo-0 {
    border-radius: 10px;
    background-color: #eb09dcd9;
}
/* Estilo para o tipo "Queijo" */

.descricao{
    font-size: 14px;
    padding-right: 4px;
    text-align: center;
    max-height: 80px;
}

