
body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url(/img/pizza-time-tasty-homemade-traditional-pizza-italian-recipe.jpg);
    background-size: cover;
}


.input[type="checkbox"] {
    width: auto; 
    height: auto; 
    margin-right: 5px; 
    vertical-align: middle; 
    display: inline-block; 
}

.container {
    width: 380px;
    margin:auto; 
}

form {
    background-color: #f72f2ce7;
    border: solid 3px #0000000d ;
    padding: 20px;
    border-radius: 10px;
}

label, input, select {
    display: block;
    margin-bottom: 10px;
}

input[type="text"], select {
    width: 90%; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-top: 5px;
}

button {
    background-color: #FFE5D0;
    color: #060606;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
    width: 120px;
}
button:hover{
    background-color: #f2cc85d2;
    

}

#cancel{
    margin-left: 80px;
}

.cartao-credito {
    display: none;
}
